@model IEnumerable<ExamGradesApplication.Models.ExamGradesVM>
@using ExamGradesApplication.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@*@{ var t = Session["Person"] as PersonLoginVM}*@

<h2>Ders Notlarınız</h2> @*<p class="text-right">@t.Name @t.LastName</p>*@

<div class="container">
    <div class="row mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Ders Adı</th>
                    <th scope="col">Ara Sınav</th>
                    <th scope="col">Final</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.LessonName</td>
                        <td>@item.ExamGrades1</td>
                        <td>@item.ExamGrades2</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

