@model ExamGradesApplication.Models.ExamGradesVM
@{
    ViewBag.Title = "Not Güncelle";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h4><b>Not Güncelle</b></h4>
            <hr />
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <b><label class="te"> Öğrenci Adı: </label></b>
                    @Html.DisplayFor(modelItem => Model.StudentName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <b><label class="te"> Öğrenci Soyadı: </label></b>
                    @Html.DisplayFor(modelItem => Model.StudentLastName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <b><label class="te">Aldığı Ders: </label></b>
                    @Html.DisplayFor(modelItem => Model.LessonName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <b><label class="te">1. Sınav Notu </label></b>
                            @Html.TextBoxFor(modelItem => Model.ExamGrades1, new { @class = "form-control", placeholder = "1. Sınav Sonucu", required = "required" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <b><label class="te">2. Sınav Notu </label></b>
                            @Html.TextBoxFor(modelItem => Model.ExamGrades2, new { @class = "form-control", placeholder = "'2. Sınav Sonucu", required = "required" })
                        </div>
                    </div>
                </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <input type="submit" value="Kaydet" class="btn btn-danger btn-block" />
                </div>
            </div>
        </div>
    }
        </div>
    </div>
</div>

