@model IEnumerable<ExamGradesApplication.Models.StudentListVM>
@using ExamGradesApplication.Models
@{
    ViewBag.Title = "Index";
}
@Html.Raw(TempData["msg"])

@{ var t = Session["Person"] as PersonLoginVM;} <p class="text-right mr-5">Hoş geldiniz: @t.Name @t.LastName</p>

<div class="container">
    <div class="row mt-5">
        <a href="/Teacher/CreateStudent" class="btn btn-info mb-1">Yeni Öğrenci Ekle</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">TC Kimlik No</th>
                    <th scope="col">Adı</th>
                    <th scope="col">Soyadı</th>
                    <th> İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdentificationNumber</td>
                        <td>@item.StudentName</td>
                        <td>@item.StudentLastName</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="/Teacher/AddGrades/@item.StudentID">Not Ekle</a>
                            <a class="btn btn-danger btn-sm" href="/Teacher/DeleteStudent/@item.StudentID">Öğrenci Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>